In [ ]:
import pandas as pd
import numpy as np

In [42]:
caminho_dados = "C:\\Users\\tiberio\\Desktop\\projeto sx\\microdados_enem_2020\\DADOS\\"
caminho_metadados = "C:\\Users\\tiberio\\Desktop\\projeto sx\\microdados_enem_2020\\DICIONÁRIO\\"

In [ ]:
dados_raw = pd.read_csv(caminho_dados + "MICRODADOS_ENEM_2020.csv", sep=";", encoding='latin-1')
print(dados_raw)

In [61]:
metadados_raw = pd.read_excel(caminho_metadados + "Dicionário_Microdados_Enem_2020.xlsx", skiprows=[0,1])
metadados_raw = pd.DataFrame(metadados_raw)
print(metadados_raw)

                                      NOME DA VARIÁVEL              Descrição  \
0                                                  NaN                    NaN
1                                DADOS DO PARTICIPANTE                    NaN
2                                         NU_INSCRICAO  Número de inscrição1
3                                               NU_ANO            Ano do Enem
4                                      TP_FAIXA_ETARIA          Faixa etária2
..                                                 ...                    ...
355  3. Foi considerado treineiro o inscrito que nã...                    NaN
356  4. As 45 primeiras posições deste campo são re...                    NaN
357  5. As 45 primeiras posições deste campo são re...                    NaN
358  6. As 45 primeiras posições deste campo são re...                    NaN
359  7. As 50 primeiras posições deste campo são re...                    NaN

    Variáveis Categóricas        Unnamed: 3  Tamanho       Tipo
0               Categoria         Descrição       NaN       NaN
1                     NaN               NaN       NaN       NaN
2                     NaN               NaN      12.0  Numérica
3                     NaN               NaN       4.0  Numérica
4                       1  Menor de 17 anos       2.0  Numérica
..                    ...               ...       ...       ...
355                   NaN               NaN       NaN       NaN
356                   NaN               NaN       NaN       NaN
357                   NaN               NaN       NaN       NaN
358                   NaN               NaN       NaN       NaN
359                   NaN               NaN       NaN       NaN

[360 rows x 6 columns]

In [63]:
metadados_raw.columns
metadados_raw_dados = metadados_raw[["NOME DA VARIÁVEL","Tipo"]]
metadados_raw_dados

                                      NOME DA VARIÁVEL      Tipo
0                                                  NaN       NaN
1                                DADOS DO PARTICIPANTE       NaN
2                                         NU_INSCRICAO  Numérica
3                                               NU_ANO  Numérica
4                                      TP_FAIXA_ETARIA  Numérica
..                                                 ...       ...
355  3. Foi considerado treineiro o inscrito que nã...       NaN
356  4. As 45 primeiras posições deste campo são re...       NaN
357  5. As 45 primeiras posições deste campo são re...       NaN
358  6. As 45 primeiras posições deste campo são re...       NaN
359  7. As 50 primeiras posições deste campo são re...       NaN

[360 rows x 2 columns]